body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    line-height: 1.6;
}

/* +++++++++++++++
xx Header image xx
+++++++++++++++ */

.header--div {

    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 3rem;
}

.header--img {
    margin: 0 auto;
    max-height: 400px;
    max-width: 100%;
    display: block;

    border: 2px solid gray;
    border-radius: 10%;

}



/* +++++++++++++++
xx Serch Section xx
+++++++++++++++ */
a {

    letter-spacing: 5px;
    color: gold;
    font-size: 1.5rem;
    margin-right: 20px;
    text-decoration: none;
  
    transition: 500ms;
}

a:hover {
    color:#ec660c;
    letter-spacing: 8px
}


.serch--div {
    margin: 1rem auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;

}

.border {
    max-width: 800px;
    min-width: 300px;
    border-bottom: 3px solid gray;
    padding-bottom: 2.5rem;

}

#form--serch:hover {
    border: 5px inset #A49D1A;
    border-radius: 0px 40px 0px 40px;
    transition: 500ms;

}

#form--serch {
    transition: 500ms;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5rem;
    align-self: center;
    border: 5px inset #A49D1A;
    border-radius: 40px 0px 40px 0px;
}



.form--btn {
    font-size: 1rem;
    padding: 15px 20px;

    background-color: gray;
    color: white;
    margin-left: 1rem;
    transition: 500ms;
    text-shadow: 1px 1px 8px #0e0e0d;
    cursor: pointer;
    border: 5px inset #A49D1A;
    border-radius: 40px 0px 40px 0px;
}

.form--btn:hover {
    border: 5px inset #A49D1A;
    border-radius: 0px 40px 0px 40px;
    transition: 500ms;
    color: gold;
}

/* xxxxxxxxxxxxxx
Display result
xxxxxxxxxxxxxx */
img {
    border: 2px gold solid;
    border-image: linear-gradient(to left, red, gold) 1;

}

.movie--display {
    color: whitesmoke;
    transition: 500ms;
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem

}

.movie--display--one {
    display: flex;
    max-width: 800px;
    min-width: 400px;
    margin: 1.5rem;


}

.movie--display--one h2 {
    font-size: 2rem;
    margin-top: 0;
}

.movie--display--one--infofolder {
    margin-left: 1rem;
    border-radius: 5%;
}

.movie--display--one--infofolder .flex {
    display: flex;
    justify-content: space-between;
}

.movie--display--one--infofolder--info--flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    padding: 20px;
    cursor: pointer;
    height: 13px;
    width: 13px;
    background-color: red;
    border-radius: 50%;
    border: 2px dotted black;
    transition: 200ms;

}

.center {
    display: flex;
    justify-content: center;
}

.empty {
    margin-top: 30vh;
    text-align: center;
    justify-content: center;
}