body {
    margin: 0;
    padding: 0;
    background-color: black;

}

/* +++++++++++++++
xx Header image xx
+++++++++++++++ */

.header--div {

    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 3rem;
}

.header--img {
    margin: 0 auto;
    max-height: 400px;
    max-width: 100%;
    display: block;
    border-radius: 20%;
    border: 2px solid gray;
}



/* +++++++++++++++
xx Serch Section xx
+++++++++++++++ */

.serch--div {
    margin: 1rem auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content:center;

}

.border {
    max-width: 800px;
    min-width: 300px;
    border-bottom: 3px solid gray;
    padding-bottom: 5rem;

}

#form--serch {
    border-radius: 20px;
    text-align: center;
    font-size: 1.5rem;
    align-self: center;
}



.form--btn {
    font-size: 1rem;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: gray;
    color: white;
    margin-left: 1rem;
}

.form--btn:hover {
    color: gold;
    border-radius: 30px;

}

/* xxxxxxxxxxxxxx
Display result
xxxxxxxxxxxxxx */
.movie--display{
    color:black
}